*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}
main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 11%, #1114a1 63%, rgba(0,172,255,1) 100%);
}
#profile-photo{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 11%, #1114a1 63%, rgba(0,172,255,1) 100%);
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
    border-radius: 100%;
}
img{
    height: 120px;
    border-radius: 100%;
}

section{
    background-color: whitesmoke;
    height: 500px;
    width: 450px;
    display: flex;

    justify-content: center;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
    border-radius: 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.531);
}
p{
    text-align: justify;
}
#info-career{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
h2{
    color: #1114a1;
}
#more-info{
    margin-top: 15px;
}
#more-info p{
    text-indent: 1.5rem;
    line-height: 1.5rem;
}
ul{
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 15px;

}
li{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    padding: 3px;
    width: 120px;
    border-radius: 3px;
    border: 1px solid black;
}
#github{
    background-color: #2100C4;
}
#github a{
    color: white;
    margin-top: 3px;
}
#linkedin{
    background-color: #0078D4;
    
}
#linkedin a{
    color: white;
    margin-top: 3px;
}
#email{
    background-color: #E2E2E2;
}
#email a{
    color: black;
}
li img{
    height: 30px;
}
